@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>ASP.NET SDA</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" id="ajaxRenderValue" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log('Start process');
        $("#ajaxRenderValue").text('Starting ...');
        var elements = [];
        for (var x = 1; x <= 50000; x++)
        {
            $("#ajaxRenderValue").text('Processing ...' + x);
            elements.push(x);
        }
        console.log('Req Count ' + elements.length);
        $("#ajaxRenderValue").text('Server Call');
        $.ajax({
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            url: "/Home/Index",
            type: "POST",
            data: JSON.stringify(elements),
            success: function (response) { debugger; console.log('Done !!'); $("#ajaxRenderValue").text('Done'); },
            failre: function (response) { debugger; console.log('Failed ...'); $("#ajaxRenderValue").text('Fail'); }
        });
    });
</script>
